/* No CSS */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-family: "MontserratBlack";
  src: url("../fonts/Montserrat-Black.ttf");
}

nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  width: 1000%;
  margin: 0;
  font-family: Montserrat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 auto;
}

nav1 ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav1 ul1 li1 a:hover {
  color: green;
}

nav1 ul1 li1 {
  padding: 15px;
}

nav1 ul1 li1 a1 {
  text-decoration: none;
  color: black;
}
