@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "MontserratBlack";
    src: url("../fonts/Montserrat-Black.ttf");
    
    
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Variable.ttf");
  
    
    
}