@import "_config";
$header-height: 12%;
$footer-height: 12%;
$aside-width: 10%;

.app {

    margin: auto;
    // display: grid;
    // height: 100vh;
    width: 90%;
    // max-width: 1600px;
    // overflow: hidden;
    background-color: #E6E9ED;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: $header-height 1fr $footer-height;
}

// .app {
//     nav.menu {
//         // background: $default-bg-color;
//         // border: $default-border;
//         grid-column: 1/4;
//     }
//     div.main {
//         // background: $default-bg-color;
//         // border: $default-border;
//     }
//     aside.right {
//         // background: $default-bg-color;
//         // border: $default-border;
//     }
//     aside.left {
//         // background: $default-bg-color;

//         // border: $default-border;
//     }
//     footer.footer {
//         //
//         // background: $default-bg-color;
//         // border: $default-border;
//         grid-column: 1/4;
//     }
// }
