@import "_Fontes";

.Dolar {
    // border: grey 2px solid;
    display: grid;
    height: 50vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: Mont;

    .logo-moeda {
        // border: grey 2px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 2/4;
        grid-row: 1/2;
        // margin-top: 10em;
        img {
            width: 5em;
            height: 5em;
            margin: auto;
        }
    }

    .nome-moeda {
        //  border: grey 2px solid;
        display: flex;
        justify-content: center;
        grid-row: 2/3;
        grid-column: 2/4;
        margin-bottom: 2em;
        h1 {
            font-family: Mont;
            color: #29313a;
            font-size: 5em;
        }
    }

    .valor {

        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 3/4;
        grid-column: 2/4;

        .cifrao {
            font-size: 5em;
            color: #58b467;
        }
        .cambio {
            color: #58B467;
            // margin-right: 3.2em;
            // border: grey 1px solid;
            font-size: 15em;
        }
    }

    .atualizado {
        display: flex;
        justify-content: center;
        grid-column: 2/4;
        grid-row: 4/5;
        // margin-bottom: 6em;
        p {
            
            font-size: 1em;
        }
    }
}
