@import "_Fontes";
@import "_config";
.footer {
    display: flex;
    background: #29313a;
    height: 100%;
    font-family: Montserrat;
    ul {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: inline-flex;
        list-style: none;
        li {
            padding: 30px;
            a {
                // text-decoration: none;
                color: #d8dde4;
                font-family: Quicksand;
                font-size: 1.2em;
            }
            
        }

    }
}
