/* No CSS */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
    font-family: "MontserratBlack";
    src: url("../fonts/Montserrat-Black.ttf");
    font-family: "FonteTenali";
    src: url("../fonts/TenaliRamakrishna-Regular.ttf");
  }


  .footernav {
      display: flex;
      background-color: black;
      width: 1000%;
      height: 100%;
      margin: 0;
      font-family: Montserrat;
      justify-content: center;
      padding: 0 auto;

      ul {
          display: flex;
          list-style-type: none;
          

          li {
          

              padding: 15px;
              a{  
                color: red;
                font-family: FonteTenali;
                font-size: 20px;
                justify-content: center;
              }

              a {
                text-decoration: none;
                color: red;
                font-family: FonteTenali;
                font-size: 16px;
                justify-content: center;

              }
              a {
                  text-decoration: none;
                  color: red;
                  font-family: FonteTenali;
                  font-size: 20px;
                  justify-content: center;

                }
              
            }
        }
   }