@import "_Fontes";
@import "_config";
.footer {
    display: flex;
    justify-content: center;
    background: #29313a;
    height: 100%;
    font-family: OpenSans;
    ul {
        width: 90%;
        justify-content: space-between;
        display: inline-flex;
        list-style: none;
        li {
            padding: 30px;
            a {
                // text-decoration: none;
                color: #d8dde4;
                // font-family: Quicksand;
                font-size: .8rem;
            }
            
        }

    }
}
