@import "_Fontes";

.main {
    width: 100%;
    margin: auto;
    justify-content: center;
    // border: 0.1em red solid;
    display: flex;
    justify-items: center;
    // padding: 5em;
    font-family: Quicksand;
    background: #A6BE47;//A6BE47
    color: #232b2b;


}

@media(max-width: 800px){
    .main
    {
        width: 100%;
        grid-template-columns: 1fr;
        // gap: 2em;
        padding: 3em 0em;
       
    }
}