
.cambio {
    display: grid;
    align-items: center;
    background-color:#ddd2d2;
    height: 500px;
    width: 500px;
    color: #000000;
    overflow: hidden;
    font-size: 7px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 25fr 1fr 1fr;
    grid-template-areas: initial;
}

 #simbolo {
    position: relative;
    display: block;
    top: 0px;
    left: 0;
    height: 0;
    margin: 0 auto;
    width: 200px;
    text-align: left;
    color: black;
    font-size: 70px;
}