
.cambio {
    display: grid;
    background-color: #c0b8b8;
    height: 100px;
    width: 500px;
    color: white;
    overflow: hidden;
    font-size: 7px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 1fr 1fr;
}

 #simbolo {
    position: relative;
    display: block;
    top: 0px;
    left: 0;
    height: 0;
    margin: 0 auto;
    width: 200px;
    text-align: left;
    color: #ffffff;
    font-size: 20px;
}