
.Container {
    background-color: #c0b8b8;
    height: 100px;
    width: 100px;
    color: white;
    overflow: hidden;
    font-size: 17px;
   

}

.LogoMoeda   {
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}
/*
 #simbolo {
    position: relative;
    display: block;
    top: 0px;
    left: 0;
    height: 0;
    margin: 0 auto;
    width: 200px;
    text-align: left;
    color: #ffffff;
    font-size: 20px;
}
*/
.Container  {

font-size: 10px;
}