.app {
  margin: 0;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  background: white;
  -ms-grid-columns: 10% 1fr 10%;
      grid-template-columns: 10% 1fr 10%;
  -ms-grid-rows: 12% 1fr 12%;
      grid-template-rows: 12% 1fr 12%;
}

.app aside.logo {
  background: #bbbcbc;
  border: #33003b 1px solid;
}

.app header.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #bbbcbc;
  border: #33003b 1px solid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.app div.main {
  background: #bbbcbc;
  border: #33003b 1px solid;
}

.app aside.right-bar {
  background: #bbbcbc;
  border: #33003b 1px solid;
}

.app aside.left-bar {
  background: #bbbcbc;
  border: #33003b 1px solid;
}

.app footer.footer {
  background-color: #bbbcbc;
  border: #33003b 1px solid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}
