.dolarHoje {
    background-color: #63666a;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 20px;
    font-size: 2.5em;
    font-style: bold;
    overflow: hidden;
    color: white;
    size: 50px;
}
