@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf");
}

* {
  font-family: "Montserrat", monospace;
}

body {
  background: linear-gradient(150deg, #85bb65 60%, #ffed4b 60%);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #BBBCBC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}