.app {
  margin: 0;
  display: grid;
  height: 100vh;
  background: white;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 12% 1fr 12%;
}

.app aside.logo {
  background: #bbbcbc;
  border: #33003b 1px solid;
}

.app header.header {
  display: flex;
  background: #bbbcbc;
  border: #33003b 1px solid;
  grid-column: 2/4;
  justify-content: flex-end;
}

.app div.main {
  background: #bbbcbc;
  border: #33003b 1px solid;
}

.app aside.right-bar {
  background: #bbbcbc;
  border: #33003b 1px solid;
}

.app aside.left-bar {
  background: #bbbcbc;
  border: #33003b 1px solid;
}

.app footer.footer {
  background-color: #bbbcbc;
  border: #33003b 1px solid;
  grid-column: 1/4;
}
