.Bitcoin {
  width: 100%;
  height: 33em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  background: #fdfdfd;
}

.Bitcoin .main-banner {
  padding: 2em;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bitcoin .main-banner img {
  width: 6em;
  height: 6em;
  border: 0.05em #fdfdfd   solid;
}

.Bitcoin .main-banner h1 {
  margin-left: 0.3em;
  font-family: Mont;
  font-size: 5rem;
  color: #6A72E0  ;
}

.Bitcoin .Arrow {
  display: flex;
  align-items: center;
  content: "8644";
  color: #6A72E0  ;
  font-size: 4rem;
  padding: .1em;
}

.Bitcoin .conversor-container {
  width: 60em;
  margin: 2em;
  display: flex;
  justify-content: center;
  height: 15em;
  font-family: Mont;
}

.bitcoin-scroll-header {
  display: flex;
  width: 100%;
  background: #4717f6 ;
  align-items: center;
  justify-content: center;
}

.bitcoin-scroll-header .bitcoin-menu {
  height: 5em;
  display: flex;
  align-items: center;
}

.bitcoin-scroll-header .bitcoin-menu li {
  padding: 0 6em;
}

.bitcoin-scroll-header .bitcoin-menu li a {
  font-family: Roboto;
  font-size: 1.6rem;
  color: #f4f9ff;
}

.bitcoin-scroll-header .bitcoin-menu li a:hover {
  color: #a7092a;
  padding-bottom: 0.5em;
  border-bottom: 0.2rem solid #a7092a;
}

.bitcoin-scroll-header .bitcoin-menu li a:focus {
  padding-bottom: 0.5em;
  border-bottom: 0.2rem solid #a7092a;
}

.bitcoincomercial-info {
  height: 30em;
}

@media (max-width: 800px) {
  .Bitcoin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    height: 100%;
    padding: 0;
  }
  .Bitcoin .valor-comercial {
    height: 45%;
    width: 70%;
  }
  .Bitcoin .valor-turismo {
    height: 45%;
    width: 70%;
  }
}
