@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Mont-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Mont-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Variable.ttf");
}

/* No CSS */
@font-face {
  font-family: "FonteTenali";
  src: url("../fonts/TenaliRamakrishna-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

.Conversor {
  width: 60em;
  margin: 1em;
  display: flex;
  justify-content: center;
  height: 15em;
  font-family: Mont;
}

.Conversor .conversor-origem,
.Conversor .conversor-destino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #edf1ff;
  height: 100%;
  width: 28em;
}

.Conversor .conversor-origem .flag-container,
.Conversor .conversor-destino .flag-container {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  padding: 1em 1.5em;
}

.Conversor .conversor-origem .flag-container .flag,
.Conversor .conversor-destino .flag-container .flag {
  width: 2.5em;
  height: 2.5em;
  margin-left: 1em;
}

.Conversor .conversor-origem .flag-container .moeda,
.Conversor .conversor-destino .flag-container .moeda {
  color: #000;
  margin-left: 0.5em;
  font-size: 1.2rem;
}

.Conversor .conversor-origem .input-container,
.Conversor .conversor-destino .input-container {
  display: flex;
  margin-right: 1em;
  margin-bottom: 2em;
  justify-content: flex-start;
}

.Conversor .conversor-origem .input-container p,
.Conversor .conversor-destino .input-container p {
  margin-left: 2em;
  margin-top: 1em;
}

.Conversor .conversor-origem .input-container p .cifrao,
.Conversor .conversor-destino .input-container p .cifrao {
  font-size: 3rem;
  color: #000;
  font-family: Mont-Regular;
}

.Conversor .conversor-origem .input-container .input-origem,
.Conversor .conversor-origem .input-container .input-destino,
.Conversor .conversor-destino .input-container .input-origem,
.Conversor .conversor-destino .input-container .input-destino {
  font-family: Quicksand;
  color: #000;
  border: none;
  background: #edf1ff;
  border-bottom: 0.03em #ccc solid;
  font-size: 4rem;
  width: 4.5em;
  text-align: center;
}

.Conversor .conversor-origem .input-container .input-origem:focus,
.Conversor .conversor-origem .input-container .input-destino:focus,
.Conversor .conversor-destino .input-container .input-origem:focus,
.Conversor .conversor-destino .input-container .input-destino:focus {
  outline: none;
  border-bottom: 0.04em #000 solid;
}

.Conversor .conversor-origem .input-container .input-origem::-webkit-outer-spin-button, .Conversor .conversor-origem .input-container .input-origem::-webkit-inner-spin-button,
.Conversor .conversor-origem .input-container .input-destino::-webkit-outer-spin-button,
.Conversor .conversor-origem .input-container .input-destino::-webkit-inner-spin-button,
.Conversor .conversor-destino .input-container .input-origem::-webkit-outer-spin-button,
.Conversor .conversor-destino .input-container .input-origem::-webkit-inner-spin-button,
.Conversor .conversor-destino .input-container .input-destino::-webkit-outer-spin-button,
.Conversor .conversor-destino .input-container .input-destino::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.Conversor .conversor-origem .input-container .input-origem[type="number"],
.Conversor .conversor-origem .input-container .input-destino[type="number"],
.Conversor .conversor-destino .input-container .input-origem[type="number"],
.Conversor .conversor-destino .input-container .input-destino[type="number"] {
  -moz-appearance: textfield;
}

.Conversor .conversor-origem .input-container .input-origem::placeholder,
.Conversor .conversor-origem .input-container .input-destino::placeholder,
.Conversor .conversor-destino .input-container .input-origem::placeholder,
.Conversor .conversor-destino .input-container .input-destino::placeholder {
  color: #000;
  text-align: center;
}

.Conversor .conversor-destino {
  background: #f4f9ff;
  border-left: 0.1em #243a5e solid;
}

.Conversor .conversor-destino .input-container .input-destino {
  background: #f4f9ff;
}

@media (max-width: 860px) {
  .Conversor {
    flex-direction: column;
  }
}
