@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Mont-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Mont-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Variable.ttf");
}

/* No CSS */
@font-face {
  font-family: "FonteTenali";
  src: url("../fonts/TenaliRamakrishna-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

.Conversor {
  display: flex;
  flex-direction: column;
  background: #edf1ff;
  height: 100%;
  width: 28em;
}

.Conversor .flag-container {
  display: flex;
  margin-bottom: 2em;
  align-items: center;
  padding: 1em 1.5em;
  background: #29313a;
}

.Conversor .flag-container .flag {
  width: 2.5em;
  height: 2.5em;
  margin-left: 1em;
}

.Conversor .flag-container .moeda {
  color: #edf1ff;
  margin-left: 0.5em;
  font-size: 1.2rem;
}

.Conversor .input-container {
  display: flex;
  margin-right: 1em;
  margin-top: 0.5em;
  align-self: center;
}

.Conversor .input-container p {
  margin-left: 2em;
  margin-top: 1em;
}

.Conversor .input-container p .cifrao {
  font-size: 3rem;
  color: #000;
  font-family: Mont-Regular;
}

.Conversor .input-container .input-valor {
  font-family: Quicksand;
  color: #000;
  border: none;
  background: #edf1ff;
  border-bottom: 0.03em #ccc solid;
  font-size: 4rem;
  width: 4.5em;
  text-align: center;
}

.Conversor .input-container .input-valor:focus {
  outline: none;
  border-bottom: 0.04em #000 solid;
}

.Conversor .input-container .input-valor::-webkit-outer-spin-button, .Conversor .input-container .input-valor::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.Conversor .input-container .input-valor[type="number"] {
  -moz-appearance: textfield;
}

.Conversor .input-container .input-valor::placeholder {
  color: #000;
  text-align: center;
}

.conversor-destino {
  background: #f4f9ff;
  border-left: 0.1em white solid;
}

.conversor-destino .input-container .input-destino {
  background: #f4f9ff;
}

@media (max-width: 860px) {
  .Conversor {
    flex-direction: column;
  }
}
