/* No CSS */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-family: "MontserratBlack";
  src: url("../fonts/Montserrat-Black.ttf");
  font-family: "FonteTenali";
  src: url("../fonts/TenaliRamakrishna-Regular.ttf");
}

nav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #white;
  width: 1000%;
  height: 100%;
  margin: 0;
  font-family: Montserrat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 auto;
}

nav1 ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav1 ul1 li1 {
  padding: 15px;
}

nav1 ul1 li1 a3 {
  color: black;
  font-family: FonteTenali;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav1 ul1 li1 a3:hover {
  color: navy;
}

nav1 ul1 li1 a2 {
  text-decoration: none;
  color: black;
  font-family: FonteTenali;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav1 ul1 li1 a1 {
  text-decoration: none;
  color: black;
  font-family: FonteTenali;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
