@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Mont-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Mont-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Variable.ttf");
}

/* No CSS */
@font-face {
  font-family: "FonteTenali";
  src: url("../fonts/TenaliRamakrishna-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #29313a;
  height: 5em;
  position: relative;
  bottom: 0;
  left: 0;
  font-family: OpenSans;
}

.footer ul {
  width: 90em;
  justify-content: space-between;
  display: inline-flex;
  list-style: none;
}

.footer ul li {
  padding: 30px;
}

.footer ul li a {
  color: #d8dde4;
  font-size: 0.8rem;
}
