/* No CSS */
@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Variable.ttf");
}

/* No CSS */
@font-face {
  font-family: "FonteTenali";
  src: url("../fonts/TenaliRamakrishna-Regular.ttf");
}

@font-face {
  font-family: "MontBlack";
  src: url("../fonts/Montserrat-Black.ttf");
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 1000%;
  height: 100%;
  margin: 0;
  font-family: Quicksand;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 auto;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer ul li {
  padding: 15px;
}

.footer ul li a {
  color: black;
  font-family: Quicksand;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer ul li a .footernav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  width: 1000%;
  height: 100%;
  margin: 0;
  font-family: Montserrat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 auto;
}

.footer ul li a .footernav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer ul li a .footernav ul li {
  padding: 15px;
}

.footer ul li a .footernav ul li a {
  color: red;
  font-family: FonteTenali;
}

.footer ul li a .footernav ul li a a {
  text-decoration: none;
  color: black;
  font-family: Quicksand;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer ul li a .footernav ul li a a {
  text-decoration: none;
  color: black;
  font-family: Quicksand;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer ul li a .footernav ul li a a {
  text-decoration: none;
  color: red;
  font-family: FonteTenali;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer ul li a .footernav ul li a a {
  text-decoration: none;
  color: red;
  font-family: FonteTenali;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
