.header nav {
  display: flex;
  background-color: blue;
  width: 40%;
  margin: 0;
}

.header nav ul {
  display: flex;
  list-style-type: none;
}

.header nav ul li {
  padding: 15px;
}

.header nav ul li a {
  text-decoration: none;
}

.header nav ul li a:hover {
  color: navy;
}

.header a {
  color: red;
}
