@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Variable.ttf");
}

/* No CSS */
@font-face {
  font-family: "FonteTenali";
  src: url("../fonts/TenaliRamakrishna-Regular.ttf");
}

@font-face {
  font-family: "MontBlack";
  src: url("../fonts/Montserrat-Black.ttf");
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 auto;
  color: blue;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-family: Quicksand;
  font-size: 10px;
}

nav ul li {
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  color: navy;
}

.DarkMode {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background-color: white;
  font-family: Quicksand;
}

a {
  color: black;
  font-family: Quicksand;
}
