@font-face {
  font-family: "Mont";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Variable.ttf");
}

/* No CSS */
@font-face {
  font-family: "FonteTenali";
  src: url("../fonts/TenaliRamakrishna-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

.header {
  justify-content: center;
  border-bottom: 0.3em solid transparent;
  background-image: linear-gradient(#1d976c, #19d7f9), radial-gradient(circle, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.menu {
  display: flex;
  width: 70vw;
  height: 12vh;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.menu ul {
  font-size: 2em;
  display: inline-flex;
  margin: 5em;
  font-family: Quicksand;
}

.menu ul li {
  margin: 0 1.5em;
  list-style: none;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu ul .dollar:hover {
  color: #3a4c96;
}

.menu ul .euro:hover {
  color: #3a4c96;
}
