aside.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.3em solid transparent;
  background-image: linear-gradient(#42455a, #C3E3E7), radial-gradient(circle, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

aside.logo img {
  width: 10em;
  margin: auto;
}
